<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./static/styles.css" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
        <script src="./static/secrets.js" defer></script>
        <script src="./static/scripts.js" defer></script>
    </head>

    <body>
    <div id ="app">
        <header id = "header" class ="header">
            <nav id ="navBtns" class= "flex">
                <input class = "searchBar" v-on:keyup.enter="searchKeyword" type = "text" v-model="searchTerm"></input>
                <a class = "navLink"  v-on:click="popularSearch">Trending Movies</a>
                <a class = "navLink" href = "#">TV Shows </a>
                <a class = "navLink" href = "#">Profile</a>
                {% if user.is_authenticated  == False%}
                <a class = "navLink" href = "accounts/login">Login</a>
                <a class = "navLink" href = "accountssignup">Signup</a>
                {% else %}
                <a class = "navLink" href = "accounts/logout">Logout</a>
                <div class="sameLine">
                <img id = "navAvatar" src = {{user.avatar.url}}></img>
                <p id = "welcomeMessage">Hello, {{user}}!</p>
                </div>
                {% endif %}
            </nav>
            <button id ="navLogo" v-on:click="displayNavbar()">&#8801;</button>
        </header>
                <button class = "topBtn"  v-on:click="goTop">^TOP^</button>

        <main>
            <article>
                <button id = "leftBtn" v-on:click="carouselLeft()"><<</button>
                <div id = "allMovies" class ="flex">
                    <ul id ="movieContainer" class="movieContainer" v-for="(movie,index) in  currentCarousel">
                        <div class="row">
                            <img  :src = movie.posterLink id= "moviePoster" v-on:click="movieDetail(index)"></img>
                        </div>
                        <div class="row">
                            <li class="movieInfo">[[movie.title]]</li>
                        </div>
                    </ul>
                </div>
                <button id = "rightBtn" v-on:click="carouselRight()">>></button>
                <div id ="noMovies" class = "hide">
                    NO MOVIES TO DISPLAY!
                </div>
            </article><br>
            <aside>
                <div class ="asideContainer" v-if="currentAside">
                    [[currentAside.title]]<br>
                    <img  :src = currentAside.posterLink id= "moviePoster" ></img><br>
                    [[currentAside.release_date]]<br>
                    <p class="movieOverview">[[currentAside.overview]]</p><br>
                        Available to stream from: <br><br>
                    <div class = "providerContainer" v-if= "currentAside.id">
                        <div v-for="(provider,index) in currentProviders">
                            <img :src=provider.logo_path alt= provider.provider_name></img>
                        </div>
                    </div>
                </div>
            </aside>
            <div>
            {{form}}
            <div v-for="(review,index) in currentReviews">
                <img id = "reviewAvatar" :src = review.author.avatar></img>
                <div class = "reviewContainer">
                    Author: [[review.author.username]]<br>
                    Rating: [[review.numRating]]<br>
                    Review: [[review.textBody]]<br>
                    <button id= "upvote" v-on:click= "upVote(review.ImdbID, review.upVotes)"> &#128077; </button>[[review.upVotes]]
                    <button id= "downvote" v-on:click= "downVote"> &#128078; </button>[[review.downVotes]]<br>
                </div>
            </div>
            </div>



            </div>
        </main>
        <footer>
            <nav>
            </nav>

            <nav>
            </nav>
        </footer>
    </div>
    </body>
</html>
