<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Movie Review Application</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />
  </head>
  <body id="signupBody">
    {% load cloudinary %}
    <div id="signupBlock" class="block">
      <form id="signupForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" />
      </form>
    </div>
    <div id="signupLogin">
      Already have an account?
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </div>
  </body>
</html>
